<html xmlns:th="http://www.thymeleaf.org" lang="en"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap, CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style_checkbox.css">
    <!--<link rel="stylesheet" href="/css/style_input.css">-->
    <!--<link rel="stylesheet" href="/css/style_input_stylus.styl">-->
    <!--<link rel="stylesheet" href="/css/style_input_stylus.css">-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_dropzone.css">
    <link rel="stylesheet" href="/css/bootstrap-dialog.css">


    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=fc9d2f36-6962-4864-818f-800ac391ee96"
            type="text/javascript"></script>
    <script>
        ymaps.ready(init);

        function init() {
            var suggestView1 = new ymaps.SuggestView('address');
        }


    </script>

    <title>new flat</title></head>
<body>


<div class="container" name="Main container">
    <div layout:fragment="content" th:remove="tag">


        <form th:action="@{/registrationForm}" th:object="${simpleFlatDto}" method="post" enctype="multipart/form-data"
              class="needs-validation" novalidate>
            <div class="container">

                <!--Contact info START-->
                <div>
                    <h3>Основная информация</h3><br>
                    <h1 th:text="#{welcome_title}"></h1>
                    <div>
                        <h4><span>Какие контактные данные вы хотите указать для этого объекта?</span></h4><br>
                        <span> Контактное лицо</span><br>

                        <div class="form-group col-md-4">
                            <input name="ownerName" type="text"
                                   class="form-control" th:field="*{ownerName}" onkeypress="replaceEnterWithTab(this)"
                                   th:style="${#fields.hasErrors('ownerName')} ? 'border-color: #dc3545;' :'' "
                                   required>
                            <p th:errors="*{ownerName}" style="color: #dc3545; font-size: 0.8em;">errors</p>
                            <!--<div class="invalid-feedback">
                                Please choose a valid name.
                            </div>-->

                        </div>


                        <br>
                        <span>Контактные номера телефона</span>
                        <br>

                        <div class="form-group col-md-4">

                            <div class="form-group">
                                <input name="phone1" class="form-control" type="text" th:field="*{phone1}"
                                       th:style="${#fields.hasErrors('phone1')} ? 'border-color: #dc3545;' :'' "
                                       required>
                                <p th:errors="*{phone1}" style="color: #dc3545; font-size: 0.8em;">errors</p>
                                <!--<div class="invalid-feedback">
                                    Please choose a valid phone.
                                </div>-->


                                <!--input id="viberPhone1" class="css-checkbox med" type="checkbox" th:field="*{viberPhone1}" th:value="*{viberPhone1}">
                                <label for="viberPhone1" name="viberPhone1_lbl"
                                       class="css-label med elegant">Viber</label>-->


                                <!--
                                                    <input class="css-checkbox med" type="checkbox" th:field="*{viberPhone1}" th:value="*{viberPhone1}">
                                                    <label th:for="${#ids.next('viberPhone1')}">Viber</label>-->


                                <!--  <input id="watsUpPhone1" class="css-checkbox med" type="checkbox">
                                  <label for="watsUpPhone1" name="watsUpPhone1_lbl"
                                         class="css-label med elegant">WatsUp</label>
                                  <br><br>-->
                            </div>

                            <div class="form-group">
                                <input name="phone2" class="form-control" type="text" th:field="*{phone2}"
                                       th:style="${#fields.hasErrors('phone2')} ? 'border-color: #dc3545;' :'' ">
                                <p th:errors="*{phone2}" style="color: #dc3545; font-size: 0.8em;">errors</p>


                                <!-- <input id="viberPhone2" class="css-checkbox med" type="checkbox">
                                 <label for="viberPhone2" name="viberPhone2_lbl"
                                        class="css-label med elegant">Viber</label>
                                 <input id="watsUpPhone2" class="css-checkbox med" type="checkbox">
                                 <label for="watsUpPhone2" name="watsUpPhone2_lbl"
                                        class="css-label med elegant">WatsUp</label>

                                 <br><br>--></div>
                            <div class="form-group">
                                <input name="phone3" class="form-control" type="text" th:field="*{phone3}"
                                       th:style="${#fields.hasErrors('phone3')} ? 'border-color: #dc3545;' :'' ">
                                <p th:errors="*{phone3}" style="color: #dc3545; font-size: 0.8em;">errors</p>

                            </div>


                            <!--    <input id="viberPhone3" class="css-checkbox med" type="checkbox">
                                <label for="viberPhone3" name="viberPhone3_lbl"
                                       class="css-label med elegant">Viber</label>
                                <input id="watsUpPhone3" class="css-checkbox med" type="checkbox">
                                <label for="watsUpPhone3" name="watsUpPhone3_lbl"
                                       class="css-label med elegant">WatsUp</label>
                                <br>
            -->

                        </div>

                        <br>
                        <div>
                            <!--
                                                https://www.pandoge.com/moduli_i_skripty/obedinyaem-neskolko-znacheniy-input-textarea-v-odnom-pole-na-jquery-->

                            <!--todo devide street and house number-->
                            <h4>Где находится ваш объект?</h4>
                            Адрес<br>
                            <input id="address" style="width: 600px;" name="address" class="css-input" type="text"
                            > <br> <br>
                           <!-- Страна/территория <br>
                            <input name="country" class="css-input" type="text" th:field="*{country}"> <br> <br>-->
                            Город <br>
                            <input name="town" class="css-input" type="text" th:field="*{town}"><br> <br>
                            Улица<br>
                            <input id="street" name="street" class="css-input" type="text"
                                   th:field="*{street}"> <br> <br>
                            Номер дома <br>
                            <input name="street" class="css-input" type="text" th:field="*{houseNumber}"> <br> <br>

                        </div>

                        <br>
                        <div>
                            <!--todo devide street and house number-->
                            <h4>Краткое описание</h4>
                            <div class="form-group col-md-9">
                        <textarea name="descriptionShort" class="form-control" cols="120" rows="5" type="text"
                                  maxlength="500"
                                  th:field="*{descriptionShort}"></textarea> <br> <br>


                            </div>

                        </div>


                    </div>
                    <!--Contact info END-->

                    <h3>Планировка и цены </h3><br>
                    <h4>апартаменты</h4>
                    <!--price START-->


                    <div class="form-group col-md-4">

                        Количество комнат
                        <div th:class="${#fields.hasErrors('roomNumber')} ? 'form-group has-error' :'form-group' ">
                            <p th:errors="*{roomNumber}" class="help-block"></p>
                            <select th:field="*{roomNumber}">
                                <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}"
                                        th:selected="${i==1}"></option>
                            </select>
                        </div>

                        <div>
                            Количество спальных мест
                            <input name="bednumber" type="number" min="0" onfocus="this.value=''"
                                   th:field="*{bedNumber}" class="form-control"
                                   th:style="${#fields.hasErrors('bedNumber')} ? 'border-color: #dc3545;' :'' "
                                   required>
                            <p th:errors="*{bedNumber}" style="color: #dc3545; font-size: 0.8em;">errors</p>
                           <!-- <div class="invalid-feedback">
                                Please choose a username.
                            </div>-->
                        </div>

                        <div>
                            <!--!!!!!!!!!!!!!!!!!!!!!!-->
                            <!--https://getbootstrap.com/docs/4.0/components/forms/?-->
                            <!--!!!!!!!!!!!!!!!!!!!!!!-->

                            <!--Этаж/этажность <br>-->
                            Этаж <br>
                            <input name="multistorey" type="number" min="0" onfocus="this.value=''"
                                   th:field="*{multistorey}" class="form-control"
                                   th:style="${#fields.hasErrors('multistorey')} ? 'border-color: #dc3545;' :'' "
                                   required>
                            <p th:errors="*{multistorey}" style="color: #dc3545; font-size: 0.8em;">errors</p>

                        </div>


                        <div>
                            общая площадь<br>
                            <input name="generalarea" type="number" min="0" onfocus="this.value=''"
                                   th:field="*{generalArea}" class="form-control"
                                   th:style="${#fields.hasErrors('generalArea')} ? 'border-color: #dc3545;' :'' "
                                   required>
                            <p th:errors="*{generalArea}" style="color: #dc3545; font-size: 0.8em;">errors</p>
                        </div>


                        <div>
                            жилая площадь<br>
                            <input name="lifearea" type="number" min="0" onfocus="this.value=''" th:field="*{lifeArea}"
                                   class="form-control"
                                   th:style="${#fields.hasErrors('lifeArea')} ? 'border-color: #dc3545;' :'' " required>
                            <p th:errors="*{lifeArea}" style="color: #dc3545; font-size: 0.8em;">errors</p>

                        </div>
                        <div>

                            площадь кухни<br>
                            <input name="kitchenarea" type="number" min="0" onfocus="this.value=''"
                                   th:field="*{kitchenArea}" class="form-control"
                                   th:style="${#fields.hasErrors('kitchenArea')} ? 'border-color: #dc3545;' :'' "
                                   required>
                            <p th:errors="*{kitchenArea}" style="color: #dc3545; font-size: 0.8em;">errors</p>
                        </div>

                    </div>
                    <div>

                        <h4>Количество гостей</h4>
                        Сколько гостей могут остановиться в этой квартире?<br>

                        <div class="form-group col-md-4">
                            <input name="guestsNumber" type="number" min="0" onfocus="this.value=''"
                                   th:field="*{guestsNumber}" class="form-control"
                                   th:style="${#fields.hasErrors('guestsNumber')} ? 'border-color: #dc3545;' :'' "
                                   required>
                            <p th:errors="*{guestsNumber}" style="color: #dc3545; font-size: 0.8em;">errors</p>
                        </div>
                    </div>

                    <h4>цена за ночь</h4>
                    <div>
                        <div style="margin: 20px;">
                            <div>
                                Цена за сутки
                                <input name="pricenight" value="" min="0" onfocus="this.value=''" type="number"
                                       th:field="*{priceDay}" class="form-control"
                                       th:style="${#fields.hasErrors('priceDay')} ? 'border-color: #dc3545;' :'' "
                                       required>
                                <p th:errors="*{priceDay}" style="color: #dc3545; font-size: 0.8em;">errors</p>
                            </div>
                        </div>

                        <!-- <div style="margin: 20px;">
                             <div>
                                 Цена за часы <input name="priceHour" class="css-input" value="price" type="number" th:field="*{priceHour}">
                             </div>
                         </div>-->
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <input type="file" th:field="*{multipartFiles}" multiple>
                </div>

                <input class="btn btn-warning" type="submit" value="Сохранить"/>


                <!--price END-->

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </form>


        <!--todo validation-->
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();


        </script>


    </div>
</div>

//////////////////////////////////////////////////////////////////////////////////////
<!--File Upload START-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3>Maybe sometimes</h3>
        </div>
        <div class="panel-body">
            <div>
                <form id="dropzone-form" class="dropzone"
                      enctype="multipart/form-data">

                    <div
                            class="dz-default dz-message file-dropzone text-center well col-sm-12">

                        <span class="glyphicon glyphicon-paperclip"></span> <span>
								To attach files, drag and drop here</span><br> <span>OR</span><br>
                        <span>Just Click</span>
                    </div>

                    <!-- this is were the previews should be shown. -->
                    <div class="dropzone-previews"></div>
                </form>
                <hr>
                <button id="upload-button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <a class="btn btn-primary pull-right" href="list">
                    <span class="glyphicon glyphicon-eye-open"></span> View All Uploads
                </a>
            </div>
        </div>
    </div>
</div>
<!--File Upload END-->

<!-- Bootstrap core JavaScript
================================================== -->

<!--///////////////////////////////////////////////////////////////////////////////////////////-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<!--Placed at the end of the document so the pages load faster-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>

<!--<script src="../../dist/js/bootstrap.min.js"></script>-->

<script src="/js/jquery-2.1.1.js"></script>
<!--<script src="/js/bootstrap.js"></script>-->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-dialog.js"></script>

<script type="text/javascript" src="/js/dropzone.js"></script>
<script type="text/javascript" src="/js/uploader.js"></script>

<!--TODO script for replaceEnterWithTab-->
<script>
    function replaceEnterWithTab(field) {
        field.bind("keypress", function (e) {
            if (e.keyCode == 13) {
                var inputs = $(this).parents("form").eq(0).find(":input:visible:enabled");
                var idx = inputs.index(this);

                if (idx == inputs.length - 1) {
                    inputs[0].select()
                } else {
                    inputs[idx + 1].focus();
                }
                return false;
            }
        });
    }


</script>

<!--todo validation-->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();


</script>
<!--todo separate address-->
<!--https://github.com/hflabs/suggestions-demo-->
<!--https://habr.com/company/hflabs/blog/213679/-->


</body>
</html>