<!--<!DOCTYPE html>-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">


<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <title>Home Page</title></head>
<body>
<!--///////////////////////////////////////////////////////////////////////////////////////////-->

<div class="container" name="Main container">
    <div layout:fragment="content" th:remove="tag">
        <!--Main menu START-->
        <!--<nav name="Main Menu" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">BOOKI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    &lt;!&ndash;hide when logged&ndash;&gt;
                    <li class="nav-item">
                        <a class="nav-link" href="registrationForm">Регистрация</a>
                    </li>
                    &lt;!&ndash;hide when unlogged&ndash;&gt;
                    <li class="nav-item">
                        <a class="nav-link" href="/registrationForm">Добавить объявление</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выбрать город</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Минск</a>
                            <a class="dropdown-item" href="#">Могилев</a>
                            <a class="dropdown-item" href="#">Витебск</a>
                            <a class="dropdown-item" href="#">Брест</a>
                            <a class="dropdown-item" href="#">Гродно</a>
                            <a class="dropdown-item" href="#">Гомель</a>
                        </div>
                    </li>
                </ul>
                &lt;!&ndash;
                search
                <form class="form-inline my-2 my-lg-0">
                     <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                 </form>&ndash;&gt;

                <ul class="nav navbar-nav navbar-right">
                    &lt;!&ndash;hide when logged&ndash;&gt;

                    <li class="nav-item">
                        <a class="nav-link" href="/login">Вход</a>
                    </li>
                    &lt;!&ndash;hide when unlogged&ndash;&gt;
                    <li>
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>


            </div>
        </nav>-->
        <!--Main menu END-->





        <th:block th:each="flat : ${flats}">

            <section>
                <div class="container py-3">
                    <div class="card">
                        <div class="row ">
                            <div class="col-md-4">
                                <!--TODO link to main image-->
                                <!--<img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">-->
                                <img th:src="@{'/image/' + ${ flat.mainPhotoId}}" class="w-100">


                            </div>

                            <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                    <h4 class="card-title" th:text="${flat.street}"></h4>
                                    <p class="card-text" th:text="${flat.street}"></p>
                                    <p class="card-text" th:text="${flat.descriptionShort}"></p>

                                    <p class="card-text" th:text="${flat.priceDay}"></p>
                                    <!--TODO    add cheking auth -->
                                    <a th:href="@{'/user/flats/' + ${flat.id}}" class="btn btn-primary">Редактирвоать</a>
                                    <!--<div sec:authorize="hasAuthority('ROLE_ADMIN')">-->
                                    <div>
                                        <a th:href="@{'/user/flats/' + ${flat.id}}" th:method="delete"
                                           class="btn btn-danger">Удалить</a>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>



        </th:block>


        <!--</div>-->


    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!--///////////////////////////////////////////////////////////////////////////////////////////-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>


</body>
</html>